@import "./variables";

/* https://element.eleme.cn/#/zh-CN/component/custom-theme */

/* Color
-------------------------- */
/// color|1|Brand Color|0
$--color-primary: #72422a !default;
/// color|1|Background Color|4
$--color-white: #FFFFFF !default;
/// color|1|Background Color|4
$--color-black: #000000 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
/// color|1|Functional Color|1
$--color-success: #67C23A !default;
/// color|1|Functional Color|1
$--color-warning: #E6A23C !default;
/// color|1|Functional Color|1
$--color-danger: #F56C6C !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
/// color|1|Font Color|2
$--color-text-primary: #303133 !default;
/// color|1|Font Color|2
$--color-text-regular: #606266 !default;
/// color|1|Font Color|2
$--color-text-secondary: #909399 !default;
/// color|1|Font Color|2
$--color-text-placeholder: #C0C4CC !default;
/// color|1|Border Color|3
$--border-color-base: #DCDFE6 !default;
/// color|1|Border Color|3
$--border-color-light: #E4E7ED !default;
/// color|1|Border Color|3
$--border-color-lighter: #EBEEF5 !default;
/// color|1|Border Color|3
$--border-color-extra-light: #F2F6FC !default;

// Background
/// color|1|Background Color|4
$--background-color-base: #F5F7FA !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// 只引入需要的部分组件样式
@import "~element-ui/packages/theme-chalk/src/base.scss";
@import "~element-ui/packages/theme-chalk/src/pagination.scss";
//@import "~element-ui/packages/theme-chalk/src/dialog.scss";
//@import "~element-ui/packages/theme-chalk/src/autocomplete.scss";
//@import "~element-ui/packages/theme-chalk/src/dropdown.scss";
//@import "~element-ui/packages/theme-chalk/src/dropdown-menu.scss";
//@import "~element-ui/packages/theme-chalk/src/dropdown-item.scss";
//@import "~element-ui/packages/theme-chalk/src/menu.scss";
//@import "~element-ui/packages/theme-chalk/src/submenu.scss";
//@import "~element-ui/packages/theme-chalk/src/menu-item.scss";
//@import "~element-ui/packages/theme-chalk/src/menu-item-group.scss";
@import "~element-ui/packages/theme-chalk/src/input.scss";
//@import "~element-ui/packages/theme-chalk/src/input-number.scss";
@import "~element-ui/packages/theme-chalk/src/radio.scss";
@import "~element-ui/packages/theme-chalk/src/radio-group.scss";
//@import "~element-ui/packages/theme-chalk/src/radio-button.scss";
//@import "~element-ui/packages/theme-chalk/src/checkbox.scss";
//@import "~element-ui/packages/theme-chalk/src/checkbox-button.scss";
//@import "~element-ui/packages/theme-chalk/src/checkbox-group.scss";
//@import "~element-ui/packages/theme-chalk/src/switch.scss";
@import "~element-ui/packages/theme-chalk/src/select.scss";
@import "~element-ui/packages/theme-chalk/src/button.scss";
//@import "~element-ui/packages/theme-chalk/src/button-group.scss";
@import "~element-ui/packages/theme-chalk/src/table.scss";
@import "~element-ui/packages/theme-chalk/src/table-column.scss";
@import "~element-ui/packages/theme-chalk/src/date-picker.scss";
//@import "~element-ui/packages/theme-chalk/src/time-select.scss";
//@import "~element-ui/packages/theme-chalk/src/time-picker.scss";
//@import "~element-ui/packages/theme-chalk/src/popover.scss";
//@import "~element-ui/packages/theme-chalk/src/tooltip.scss";
//@import "~element-ui/packages/theme-chalk/src/message-box.scss";
//@import "~element-ui/packages/theme-chalk/src/breadcrumb.scss";
//@import "~element-ui/packages/theme-chalk/src/breadcrumb-item.scss";
@import "~element-ui/packages/theme-chalk/src/form.scss";
@import "~element-ui/packages/theme-chalk/src/form-item.scss";
//@import "~element-ui/packages/theme-chalk/src/tabs.scss";
//@import "~element-ui/packages/theme-chalk/src/tab-pane.scss";
//@import "~element-ui/packages/theme-chalk/src/tag.scss";
//@import "~element-ui/packages/theme-chalk/src/tree.scss";
//@import "~element-ui/packages/theme-chalk/src/alert.scss";
//@import "~element-ui/packages/theme-chalk/src/notification.scss";
//@import "~element-ui/packages/theme-chalk/src/slider.scss";
@import "~element-ui/packages/theme-chalk/src/loading.scss";
//@import "~element-ui/packages/theme-chalk/src/row.scss";
//@import "~element-ui/packages/theme-chalk/src/col.scss";
@import "~element-ui/packages/theme-chalk/src/upload.scss";
//@import "~element-ui/packages/theme-chalk/src/progress.scss";
//@import "~element-ui/packages/theme-chalk/src/spinner.scss";
//@import "~element-ui/packages/theme-chalk/src/message.scss";
//@import "~element-ui/packages/theme-chalk/src/badge.scss";
//@import "~element-ui/packages/theme-chalk/src/card.scss";
//@import "~element-ui/packages/theme-chalk/src/rate.scss";
//@import "~element-ui/packages/theme-chalk/src/steps.scss";
//@import "~element-ui/packages/theme-chalk/src/step.scss";
//@import "~element-ui/packages/theme-chalk/src/carousel.scss";
//@import "~element-ui/packages/theme-chalk/src/scrollbar.scss";
//@import "~element-ui/packages/theme-chalk/src/carousel-item.scss";
//@import "~element-ui/packages/theme-chalk/src/collapse.scss";
//@import "~element-ui/packages/theme-chalk/src/collapse-item.scss";
//@import "~element-ui/packages/theme-chalk/src/cascader.scss";
//@import "~element-ui/packages/theme-chalk/src/color-picker.scss";
//@import "~element-ui/packages/theme-chalk/src/transfer.scss";
//@import "~element-ui/packages/theme-chalk/src/container.scss";
//@import "~element-ui/packages/theme-chalk/src/header.scss";
//@import "~element-ui/packages/theme-chalk/src/aside.scss";
//@import "~element-ui/packages/theme-chalk/src/main.scss";
//@import "~element-ui/packages/theme-chalk/src/footer.scss";
//@import "~element-ui/packages/theme-chalk/src/timeline.scss";
//@import "~element-ui/packages/theme-chalk/src/timeline-item.scss";
//@import "~element-ui/packages/theme-chalk/src/link.scss";
//@import "~element-ui/packages/theme-chalk/src/divider.scss";
//@import "~element-ui/packages/theme-chalk/src/image.scss";
//@import "~element-ui/packages/theme-chalk/src/calendar.scss";
@import "~element-ui/packages/theme-chalk/src/backtop.scss";
//@import "~element-ui/packages/theme-chalk/src/infinite-scroll.scss";
//@import "~element-ui/packages/theme-chalk/src/page-header.scss";
//@import "~element-ui/packages/theme-chalk/src/cascader-panel.scss";
//@import "~element-ui/packages/theme-chalk/src/avatar.scss";
//@import "~element-ui/packages/theme-chalk/src/drawer.scss";
//@import "~element-ui/packages/theme-chalk/src/popconfirm.scss";

